.backdrop-order {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  transition-duration: 500ms;
  transition: opacity 500ms, visibility 500ms;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  &.is-hidden .modal-order {
    transform: scale(0);
  }

  .modal-order {
    position: relative;
    overflow: auto;
    max-width: 272px;
    min-height: 357px;
    padding: 28px 16px;
    background-color: $colorWhite;

    @media screen and (min-width: 768px) {
      max-width: 480px;
      min-height: 511px;
      padding: 48px 32px;
    }

    &__title {
      font-weight: 600;
      font-size: 20px;
      margin-bottom: 14px;
      color: $colorMain;

      @media screen and (min-width: 768px) {
        font-size: 32px;
        margin-bottom: 24px;
      }
    }

    &__text {
      font-weight: 500;
      font-size: 12px;
      margin-bottom: 18px;
      color: $colorFormText;

      @media screen and (min-width: 768px) {
        font-size: 16px;
        margin-bottom: 32px;
      }
    }
  }

  .modal-order__close {
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;

    @media screen and (min-width: 768px) {
      top: 24px;
      right: 24px;
    }
  }

  .modal-close {
    width: 18px;
    height: 18px;
    stroke: $colorMain;

    @media screen and (min-width: 768px) {
      width: 24px;
      height: 24px;
    }
  }

  .modal-form {
    margin-bottom: 24px;

    @media screen and (min-width: 768px) {
      margin-bottom: 38px;
    }
  }

  .modal-form__label {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-weight: 500;
    font-size: 10px;
    color: $colorFormText;

    &:not(:last-child) {
      margin-bottom: 14px;
    }

    @media screen and (min-width: 768px) {
      font-size: 14px;

      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }
  }

  .modal-form__input {
    width: 100%;
    height: 35px;
    padding: 10px 12px;
    outline: none;
    border-radius: 4px;
    border: 1px solid $colorFormInput;

    @media screen and (min-width: 768px) {
      padding: 16px;
      height: 49px;
    }
  }

  .modal-form__input:hover,
  .modal-form__input:focus {
    border-color: rgba(17, 17, 17, 0.7);
  }

  .modal-form__input::placeholder {
    font-weight: 500;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.3);

    @media screen and (min-width: 768px) {
      font-size: 14px;
    }
  }

  .modal-icon__valid {
    opacity: 0;
  }

  .modal-icon__invalid {
    opacity: 0;
  }

  .modal-form__input:not(:placeholder-shown):required:valid + svg {
    opacity: 1;
  }

  .modal-form__input:not(:placeholder-shown):required:valid {
    border-color: #3cbc81;
  }

  .modal-form__input:not(:placeholder-shown):required:invalid {
    border-color: #e74a3b;
  }

  .modal-form__input:not(:placeholder-shown):required:invalid + svg + svg {
    opacity: 1;
  }

  .modal-icon__invalid {
    position: absolute;
    right: 16px;
    bottom: 10px;
    width: 16px;
    height: 16px;
    fill: #e74a3b;

    @media screen and (min-width: 768px) {
      bottom: 16px;
    }
  }

  .modal-icon__valid {
    position: absolute;
    right: 16px;
    bottom: 10px;
    width: 16px;
    height: 16px;
    fill: #3cbc81;

    @media screen and (min-width: 768px) {
      bottom: 16px;
    }
  }

  .modal-form__button {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 37px;
    border-radius: 8px;
    border: none;
    background-color: $colorPink;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    color: $colorWhite;

    @media screen and (min-width: 768px) {
      height: 50px;
      font-size: 18px;
    }
  }
}

/* Modal Pop-up*/
.modal__pop-up {
  position: relative;
  max-width: 272px;
  min-height: 357px;
  padding: 44px 16px 32px 16px;
  text-align: center;
  background-color: $colorWhite;

  @media screen and (min-width: 768px) {
    max-width: 480px;
    min-height: 505;
    padding: 54px 32px;
  }
}

.icon__pop-up {
  width: 188px;
  height: 142px;
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    width: 367px;
    height: 202px;
  }
}

.pop-up__thank {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: $colorMain;
  margin-bottom: 14px;

  @media screen and (min-width: 768px) {
    font-size: 32px;
    margin-bottom: 16px;
  }
}

.pop-up__text {
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  color: $colorFormText;
  margin-bottom: 18px;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    margin-bottom: 34px;
  }
}
