#scrollToTop {
    position: fixed;
    bottom: 40px;
    left: 74%;
    display: none;
    cursor: pointer;
    z-index: 5;
    opacity: 0.4;

    @media (min-width: 425px) {
        left: 69%;
    }
    @media (min-width: 510px) {
        left: 65%;
    }
    @media (min-width: 650px) {
        left: 61%;
    }
    @media (min-width: 768px) {
        left: 80%;
    }
    @media (min-width: 1060px) {
        left: 72%;
    }
    @media (min-width: 1280px) {
        left: 86%;
    }
    @media (min-width: 1600px) {
        left: 78%;
    }
}


.scroll-up {
    fill: $colorPink;
    transition: fill 0.25s linear;

    &:hover,
    &:focus {
        fill: #bb3216;
    }
}