#scrollToTop {
    position: fixed;
    bottom: 40px;
    right: 20px;
    display: none;
    cursor: pointer;
    z-index: 5;
    opacity: 0.4;

    @media (min-width: 425px) and (max-width: 500px) {
        right: 42px;
    }
    @media (min-width: 501px) and (max-width: 550px) {
        right: 80px;
    }
    @media (min-width: 551px) and (max-width: 600px) {
        right: 100px;
    }
    @media (min-width: 601px) and (max-width: 650px) {
        right: 130px;
    }
    @media (min-width: 651px) and (max-width: 700px) {
        right: 150px;
    }
    @media (min-width: 701px) and (max-width: 767px) {
        right: 200px;
    }
    @media (min-width: 768px) and (max-width: 800px) {
        right: 20px;
    }
    @media (min-width: 801px) and (max-width: 850px) {
        right: 50px;
    }
    @media (min-width: 851px) and (max-width: 900px) {
        right: 75px;
    }
    @media (min-width: 901px) and (max-width: 950px) {
        right: 90px;
    }
    @media (min-width: 951px) and (max-width: 1000px) {
        right: 115px;
    }
    @media (min-width: 1001px) and (max-width: 1050px) {
        right: 142px;
    }
    @media (min-width: 1051px) and (max-width: 1100px) {
        right: 167px;
    }
}




.scroll-up {
    fill: $colorPink;
}