.store {
  max-width: 320px;
  padding: 0 0 60px 0;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding: 0 0 100px 0;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
  }

  &__title {
    margin-bottom: 32px;

    @media screen and (min-width: 768px) {
      font-size: 44px;
      margin-bottom: 60px;
    }

    @media screen and (min-width: 1280px) {
      margin-bottom: 80px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 32px;

    @media screen and (min-width: 768px) {
      gap: 32px;
      margin-bottom: 60px;
    }
  }

  &__img {
    margin-bottom: 12px;

    @media screen and (min-width: 768px) {
      margin-bottom: 16px;
    }
  }

  &__card-title {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 6px;

    @media screen and (min-width: 768px) {
      font-size: 32px;
      margin-bottom: 8px;
    }

    @media screen and (min-width: 1280px) {
      font-size: 36px;
      margin-bottom: 4px;
    }
  }

  &__card-price {
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 0;
    opacity: 0.6;

    @media screen and (min-width: 768px) {
      font-size: 24px;
    }

    @media screen and (min-width: 1280px) {
      font-size: 28px;
    }
  }

  &__button {
    display: block;
    padding: 0;
    margin: 0 auto;
    width: 208px;
    height: 44px;
    border-radius: 38px;
    border: none;
    background-color: $colorPink;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: $colorWhite;
    cursor: pointer;
    transition: background-color 250ms linear;

    @media screen and (min-width: 768px) {
      width: 280px;
      height: 64px;
      font-size: 28px;
      line-height: 86%;
    }
  }

  &__button:hover {
    background-color: $colorBgHover;
  }

  &__button:focus {
    background-color: $colorBgFocus;
  }
}
