.footer {
  max-width: 320px;
  padding: 32px 0;
  margin: 0 auto;
  background-color: $colorMain;
}

.footer__nav-time {
  display: flex;
  gap: 44px;
  margin-bottom: 32px;
}

.footer__navigation {
  width: 116px;
}

.footer__title {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: $colorWhite;
  margin-bottom: 18px;
}

.footer__nav-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer__nav-link {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: $colorWhite;
  text-decoration: none;
}

.footer__logo-icon {
  display: none;
}

.footer__time {
  width: 130px;
}

.footer__time-text {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  width: 85px;
  margin-bottom: 0;
  color: $colorWhite;
}

.footer__contacts {
  width: 128px;
}

.address__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-style: normal;
}

.address__link {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  color: $colorWhite;
}

.address__link-text {
    display: flex;
    flex-direction: column;
}
