/* Header */
.header {
  padding-top: 16px;

  @media screen and (min-width: 768px) {
    padding-top: 24px;
  }

  @media screen and (min-width: 1280px) {
    position: absolute;
    width: 100%;
    z-index: 2;
    padding-top: 28px;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &__logo-icon {
    width: 45px;
    height: 35px;
    fill: $colorIcon;

    @media screen and (min-width: 768px) {
      width: 72px;
      height: 57px;
    }

    @media screen and (min-width: 1280px) {
      animation: move-vertical 1000ms ease-out 1000ms both;
    }
  }

  .nav {
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
      margin-left: 80px;

      @media screen and (min-width: 1280px) {
        margin-left: 261px;
      }

      .nav__list {
        display: flex;
        flex-direction: row;
        gap: 24px;

        @media screen and (min-width: 1280px) {
          gap: 48px;
        }
      }

      .nav__link {
        position: relative;
        font-size: 20px;
        color: $colorMain;
        text-decoration: none;
        transition: color 0.25s linear;

        &:hover,
        &:focus {
          color: $colorPink;
        }

        @media screen and (min-width: 1280px) {
          animation: move-vertical 1000ms ease-out 1000ms both;
        }
      }
    }
  }

  @media screen and (min-width: 768px) {
    .nav__link::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -10px;
      display: block;
      height: 2px;
      width: 100%;
      background-color: $colorPink;
      border-radius: 5px 5px 0px 0px;
      transform: scaleX(0);
      transition: transform 350ms linear;

      @media screen and (min-width: 1280px) {
        background-color: $colorWhite;
      }
    }

    .nav__link:hover::after,
    .nav__link:focus::after {
      transform: scaleX(1);
      transition: transform 350ms linear;
    }
  }

  &__tel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: 14px;
    cursor: pointer;

    &:hover,
    &:focus {
      stroke: $colorPink;
    }

    @media screen and (min-width: 768px) {
      margin-right: 0;
    }
  }

  &__tel-icon {
    width: 22px;
    height: 22px;
    fill: $colorIcon;

    @media screen and (min-width: 768px) {
      width: 24px;
      height: 24px;
    }

    @media screen and (min-width: 1280px) {
      width: 28px;
      height: 28px;
      animation: move-vertical 1000ms ease-out 1000ms both;
    }
  }

  .burger__menu-open {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  .burger__icon-open {
    width: 24px;
    height: 24px;
    fill: $colorMain;
  }
}
