.section-title {
  font-weight: 700;
  color: var(--color-main);
  text-transform: uppercase;
  overflow: hidden;
}

.section-title::after {
  position: relative;
  content: '';
  vertical-align: middle;
  display: inline-block;
  width: 100%;
  border: 1px solid var(--color-main);
  margin-right: -100%;
  right: -14px;
}
