/* Base */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-main);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
